*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    background-color: #1E90FF;
    color: white;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}